<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <!-- Specify the FastCGI handler -->
    <handlers>
        <add name="FastAPIHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python312\python.exe|C:\Python312\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
    </handlers>

    <!-- FastCGI process pool configuration -->
    <fastCgi>
      <application fullPath="C:\Python312\python.exe">
        <environmentVariables>
          <environmentVariable name="WSGI_SCRIPT" value="C:/inetpub/wwwroot/ImageSimilarity/main_override.py" />
        </environmentVariables>
      </application>
    </fastCgi>

    <!-- Optional: Enable detailed error messages during debugging -->
    <httpErrors errorMode="Detailed" />
        <rewrite>
            <rules>
                <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://127.0.0.1:8000/{R:1}" />
                </rule>
            </rules>
        </rewrite>
  </system.webServer>
</configuration>
